<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Stroke Predictor</title>
  </head>
  <body style="background-color: #3dc4e5">
    <h1 style="font-style: 'Roboto Condensed', sans-serif; text-align: center">
      Stroke Predictor
    </h1>
    <br /><br />
    <div style="display: grid; grid: 150px / auto auto auto;">
      <form>
        
        <div class="form-group">
          <label for="exampleFormControlInput1">Gender</label>
          <select>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Age</label>
            <input
              type="number"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="69"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Do you have Hypertension?</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Y/N?"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Do you have any Hear Disease?</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Y/N?"
            />
          </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success"/>
        </div>
      </form>
    </div>
  </body>
</html>
